.box-wrapper {
  width: 20vw;
  max-width: 320px;
  height: 60vh;
  background: #fafafa;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.18);
  padding: 16px 32px 24px 32px;
  border-radius: 0.25em;
  position: absolute;
  right: 8vw;
  bottom: 10vh;
  opacity: 0.85;
  z-index: 500;
}

.container {
  position: relative;
}
